.backdropImage{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(30px);
}
.searchBar{
    width: 100%;
    max-width: 500px;
}
.poster{
    float: left;
    width: 100%;
    height: 65vh;
    min-height: 500px;
    margin-bottom: 15px
}
.cast-avatar{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    border: 2px solid #FFF;
    box-sizing: border-box;
    margin-right: 4px;
}
.cast-avatar:hover{
    border-radius: 10px;
}
.trailers{
    width: 130px;
    height: 110px;
}